<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>casServerUrlPrefix</param-name>
        <param-value>https://signin.cru.org/cas</param-value>
    </context-param>

    <context-param>
        <param-name>casServerLoginUrl</param-name>
        <param-value>https://signin.cru.org/cas/login</param-value>
    </context-param>

    <context-param>
        <param-name>serverName</param-name>
        <!-- replace with the loadbalanced URL of the peoplesoft instance -->
        <param-value>http://localhost.cru.org:8080</param-value>
    </context-param>

<!--
    <listener>
        <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
    </listener>
-->

    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>ignorePattern</param-name>
            <param-value>.*/SchedulerTransfer.*</param-value> <!-- TODO: more precise regex -->
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>useSession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>

    <!-- Cru's workaround for single sign out filter problem -->
<!--
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.cru.cas.client.integration.EntityPreservingSingleSignOutFilter</filter-class>
        <init-param>
            <param-name>logoutPath</param-name>
            <param-value>/node-logout</param-value>
        </init-param>
    </filter>
-->
    <filter>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <filter-class>org.cru.cas.client.integration.LogoutListFilter</filter-class>
        <init-param>
            <param-name>logoutPath</param-name>
            <param-value>/node-logout</param-value>
        </init-param>
    </filter>


    <!-- Cru's cas->pshr glue filters: -->
    <filter>
        <filter-name>Copy Cas Attributes to Headers Filter</filter-name>
        <filter-class>org.cru.cas.client.integration.CopyCasAttributesToHeadersFilter</filter-class>
        <init-param>
            <param-name>attributeMapping</param-name>
            <!--
            <param-value>
                email=CAS_USER
                usEmployeeId=CAS_emplid
            </param-value>
            -->
            <param-value>
                username=CAS_USER
                emplid=CAS_emplid
            </param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>Logout Broadcast Filter</filter-name>
        <filter-class>org.cru.cas.client.integration.LogoutBroadcastFilter</filter-class>

        <init-param>
            <param-name>recipientHosts</param-name>
            <param-value>
                http://localhost:8080
                http://localhost.cru.org:8080
            </param-value>
        </init-param>

        <init-param>
            <param-name>recipientPath</param-name>
            <param-value>/sample/node-logout</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>Eager Session Trigger Filter</filter-name>
        <filter-class>org.cru.cas.client.integration.SessionFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>Logout Broadcast Filter</filter-name>
        <url-pattern>/cluster-logout</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Single Sign Out Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
        <filter-mapping>
            <filter-name>Eager Session Trigger Filter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
    -->

    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Copy Cas Attributes to Headers Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--
    <filter-mapping>
        <filter-name>Cookie-Killing Redirecting Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->



    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
